<h1>Nachrichten</h1>
<p><%= link_to 'Home', root_path %></p>
<% @questions.each do |q| %>
  <div class='questionsHome'>
    <p><b>Name:</b> <%= q.name %></p>
    <p><b>Email:</b> <%= q.email %></p>
    <p><b>Betreff:</b> <%= q.subject %></p>
    <p><b>Nachricht:</b> <%= q.message %></p>
    <%= link_to 'Nachricht Loeschen', question_path(q.id), method: :delete %>
  </div>
<% end %>