<p>Blog</p>
<p><%= link_to 'back', root_path %></p>
<p><%= link_to 'new', new_blog_path %></p>
<% @blogs.each do |b| %>
  <div class='boxMain'>
    <h1><%= b.title %></h1>
    <p><%= b.text %></p>
    <p>Published at: <%= b.created_at.strftime("%d-%m-%Y") %></p>
    <p>
      <%= link_to edit_blog_path(b.id) do %>
        <i class="far fa-edit"></i>
      <% end %>
    </p>
    <p>
      <%= link_to blog_path(b.id), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </p>
  </div>
<% end %>